<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="NLog.Target.Datadog"/>
    </extensions>
    <targets>
      <target name="dataDogBuf" xsi:type="BufferingWrapper" >
        <target xsi:type="DataDog" 
                layout="${message}" 
                includeAllProperties="true" 
                apiKey="3f5d1caba8e3c8595c75e44e695f5470"
        >
          <field name="ddsource" layout="${machinename}"/>
          <field name="service" layout="${machinename}"/>
          <field name="host" layout="${machinename}"/>

          <field name="Logger" layout="${logger}" />
          <field name="ProcessID" layout="${processid}" />
          <field name="ProcessName" layout= "${processname}" />
          <field name="Thread" layout="${threadid}"/>
          <field name="ThreadName" layout="${threadname}" />
          <field name="Class" layout ="${callsite:className=true:methodName=false:fileName=false:includeSourcePath=false}" />
          <field name="Method" layout ="${callsite:className=false:methodName=true:fileName=false:includeSourcePath=false}" />

          <field name="sessionId" layout="12345"/>
          <field name="Version" layout="${gdc:item=Version}"/>
          <field name="Environment" layout="${gdc:item=Version}"/>
        </target>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="dataDogBuf"/>
    </rules>
  </nlog>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
